<style type="text/css">
	#main {
		height:590px;
	}
	#box {
		background: url('/images/login_box.png') no-repeat;
		width:741px;
		height:337px;
		margin:80px 0 0 150px;
	}
	#boxContent {
		padding:8px 20px 0 20px; 
	}
	#boxContent h1 {
		padding:33px 0 4px 45px;
	}
	.betaLabelTextField {
		position:relative;
		top:5px;
	}
	#boxContent div {
		margin:30px 46px 0 0;
	}
	
	.betaTextField {
		position:relative;
		top:2px;
		width:492px;
		height:28px;
	}
	
	.button {
		width:90px;
		height:29px;
		margin:20px 250px 0 151px;
	}
</style>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>