<style type="text/css">
	#main {
		background-image:url('/images/background_betaPages.png');
		height:586px;
		padding-bottom:10px;
	}
	#box {
		background: url('/images/register_box.png') no-repeat;
		width:827px;
		height:517px;
		margin:35px 0 0 60px;
	}
	#boxContent {
		padding:5px 5px 0 20px;
	}
	#boxContent h1 {
		padding:0px 0 17px 80px;
	}
	#boxContent h2 {
		padding:50px 0 10px 100px;
	}
	#boxContent div {
		margin-right:77px;
		margin-bottom:30px;
	}

	#boxContent P {
		padding:10px 0 14px 39px;
	}

	.betaTextField {
		width:491px;
		height:27px;
	}
	.button {
		width:90px;
		height:29px;
		margin:0 140px 0 222px;
	}
</style>

<div id="box">
	<div id="boxContent">

		<h2>Create your account</h2>		
		<h1>Become a beta tester</h1>
		
		<div>
			<label for='email' class='inline betaLabelTextField'>Email Address</label>
			<%= text_field_tag('email', '', :type=>'email', :class=>'betaTextField') %>
		</div>
		<div>
			<label for='username' class='inline betaLabelTextField'>Username</label>
			<%= text_field_tag('username', '', :class=>'betaTextField') %>
		</div>

		<div>
			<label for='password' class='inline betaLabelTextField'>Password</label>
			<%= text_field_tag('password', '', :type=>'password', :class=>'betaTextField') %>
		</div>

		<div>
			<label for='repassword' class='inline betaLabelTextField'>Re-Enter Password</label>
			<%= text_field_tag('repassword', '', :type=>'password', :class=>'betaTextField') %>
		</div>

		<%= submit_tag('submit', :class=>'button') %>
		<p class="inline">Already a member? <%=link_to('Sign In here', '/login')%></p>
	</div>
</div>
