<style type="text/css">
	#main {
		background-image:url('/images/background_betaPages.png');
		height:586px;
		padding-bottom:10px;
	}
	#box {
		background: url('/images/register_box.png') no-repeat;
		width:827px;
		height:517px;
		margin:35px 0 0 60px;
	}
	#boxContent {
		padding:5px 5px 0 20px;
	}
	#boxContent h1 {
		padding:0px 0 17px 80px;
	}
	#boxContent h2 {
		padding:50px 0 10px 100px;
	}
	#boxContent div {
		margin-right:77px;
		margin-bottom:30px;
	}

	#boxContent P {
		padding:10px 0 14px 39px;
	}

	.betaTextField {
		width:491px;
		height:27px;
	}
	.button {
		width:90px;
		height:29px;
		margin:0 140px 0 222px;
	}
</style>

<div id="box">
	<div id="boxContent">

		<h2>Create your account</h2>		
		<h1>Become a beta tester</h1>
		
		<%= form_for(@user) do |f| %>
			<div>
				<%= f.label :email, "Email Address", :class=>'inline betaLabelTextField' %>
				<%= f.text_field :email, :class=>'betaTextField' %>
			</div>
		
			<div>
				<%= f.label :name, :class=>'inline betaLabelTextField' %>
				<%= f.text_field :name, :class=>'betaTextField' %>
			</div>

			<div>
				<%= f.label :password, :class=>'inline betaLabelTextField' %>
				<%= f.password_field :password, :class=>'betaTextField' %>
			</div>

			<div>
				<%= f.label :password_confirmation, "Re-Enter Password", :class=>'inline betaLabelTextField' %>
				<%=f.password_field :password_confirmation,:class=>'betaTextField'%>
			</div>
			
			<%= f.submit 'submit', :class=>'button'%>
		
			<p class="inline">Already a member? <%=link_to('Sign In here', '/login')%></p>
		<% end %>
		
		
	</div>
</div>