<h1>Hello, bloob!</h1>
<style type='text/css'>
	#wrapper {
		background:#FAFCF9;
	}
	#main {
		background:none;
	}
	#content {
		padding-top:0;
		margin-left:0;
	}

	/* Actual Post */
	#rightBar { 
		margin-left:auto;
		margin-right:auto;
		padding-top:40px; 
		width:765px; 
	}	
	#rightBar #post { 
		padding:10px;
		border:3px solid #FDFDFD;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
	}
	#rightBar #post #postTitle {
		font-size:30px; 
		font-weight:500;
		vertical-align:50%;
	}
	#rightBar #post #postContent{
		font-size:16px;
		margin-bottom:20px;
	}
	#rightBar #post img {
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
	}
	#rightBar #post #postInfo {
		height:60px;
	}
	#rightBar #post #postInfo p {
		color:#555;
		line-height:18px;
		text-align:left;
		font-size:15px;
	}
	#rightBar #post #postInfo section p img {
		width:13px;
		height:14px;
	}
	#rightBar #post #postInfo section {
		text-align:left;
	}

	#rightBar #comments h2 {
		font-size:24px;
	}
</style>

<%= render '/layouts/sideBar' %>

<h1><%= @user.name %></h1>
<%= @user.email%>
<br>

<br>

<div id='posts'>
<h2>Posts:</h2>

 <%= @user.posts.each do |post|%>
<%= post %>
<br />
<% end %>

</div>