
  <style type="text/css">
	#content {
	  padding: 0 0 0 6%;
	  }
    #suggestionBox {
      resize:none;
      border:3px solid #7E7E7E;
      border-radius:10px;
      -webkit-appearance: textarea;
      -moz-appearance:textarea;
      color:#7E7E7E;
      font-size:15px;
      font-family:"Myriad Pro";
      padding:8px 8px 8px 8px;
      margin: 0.5% 3.5% 1% 0%;
      width:425px;
      height:220px;
    }
	
	#buttonDiv {
	  clear:both;
	  padding-bottom:2%;
	}
	#submit {
      clear:both;
	  height:30px;
	}
  </style>


<h1>Contact Us</h1>       


  <%= text_area_tag('suggestionBox', 'Leave a nice message', :class => "floatLeft")%>

  <p id="info" class="floatLeft">
    We would love to hear your constructive criticism. Any thoughts regarding any aspect of the
    <br />
    project will be taken into consideration in order to deliver a more efficient, beautiful and
    <br />
    customer friendly product when we release <a class="green">Orchive</a> 1.0
    <br /><br />

    <b>Contact Info</b>
    <br /><br />
    Orchive
    <br />
    165 Grover Avenue
    <br />
    Princeton, NJ 08540
    <br /><br />
    General Information: info@orchive.com
  </p>
        
<div id="buttonDiv">
  <%= submit_tag('Submit', :class => "button", :id=>"submit") %>
</div>

<div id="socialDiv">
  <h1>Social Networking</h1>
  <%= image_tag("SN/twitter.png") %>
  <%= image_tag("SN/fbook.png") %>
  <%= image_tag("SN/in.png") %>
  <%= image_tag("SN/t.png") %>
</div>
