<style type="text/css">
	#main {
		height:590px;
	}
	#box {
		background: url('/images/login_box.png') no-repeat;
		width:741px;
		height:337px;
		margin:80px 0 0 150px;
	}
	#boxContent {
		padding:8px 20px 0 20px; 
	}
	#boxContent h1 {
		padding:33px 0 4px 45px;
	}
	.betaLabelTextField {
		position:relative;
		top:5px;
	}
	#boxContent div {
		margin:30px 46px 0 0;
	}
	#boxContent form section {
		margin-right:50px;
	}
	#boxContent form section label {
		margin-right:90px;
	}
	.betaTextField {
		position:relative;
		top:2px;
		width:492px;
		height:28px;
	}
	
	.button {
		width:90px;
		height:29px;
		margin:20px 20px 0 0;
	}
</style>

<div id="box">
	<div id="boxContent">
		<h1>Beta Member Login</h1>
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div>
				<%=f.label :email, 'Email Address', :class=>'inline betaLabelTextField' %>
				<%= f.text_field :email, :class=>'betaTextField' %>
			</div>
			<div>	
				<%=f.label :password, 'Password', :class=> 'inline betaLabelTextField' %>
				<%=f.password_field :password, :class=>'betaTextField' %>
			</div> 
			<section>
				<%= f.submit 'submit', :class=>'button inline' %>
				<% if devise_mapping.rememberable? -%>
					<span>
						<%= f.check_box :remember_me %> <%= f.label :remember_me %>
					</span>
				<% end -%>
				<%-if devise_mapping.recoverable? && controller_name !=
				'passwords'%>
					<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
				<% end -%>
			</section>
		<% end %>
			
	</div>
</div>