  <style type="text/css">
    #main { display:inline;}

    #content { float:left;}
  
  /* Sidebar */
    #sidee {width:402px;

      border-bottom: 1px solid #E7E7E7;
      margin-right:30px;
      background-image:url("/images/background_sideBar.png");
      background-repeat:no-repeat;
    }
    #sidebar { margin:10px 50px 0 10%;}
    #sidebar #profile {margin-top:4%;}
    #sidebar #postingInterface h1 {font-size:18px; font-weight:600;}
    #sidebar #postingInterface p {font-size:14px; }
    #sidebar #postingInterface #postButton {margin:2% auto 5% auto;}

	/* Feed */
    #feed { margin-top:15px; width:750px; }
    #feed h1 { font-size:30px; font-weight:600;}

    #feed p { padding-left:8px; font-size:12px; line-height:110%;}
	#feed a { text-decoration:none; color:#000;}
	#feed a.blue {color: #4877B7;}
		
	#feed #filterTags { font-size:11px; 
		position:relative; left:-214px; 
	}
	#feed #filterStories { font-size:11px; 
		position:relative; top:-15px; left:34px;
	}
    
	#feed #post {
		padding: 8px; 
		margin-bottom:10px;
		height:145px;
		background-image:url('images/background_post.png');
		background-repeat:no-repeat;
	}

    #feed #photo { margin:4px 8px 8px 8px;}
    
	#feed #postName, #userLoc {width:200px;}

    #feed #postTitle { font-size:18px; font-weight:600; margin-bottom:0; color:#4877B7}
    
    #feed #postContent { font-size:12px; padding-left:86px; margin-top:2px;}
  	
	#feed #postInfo { color:#555555; margin-top:0px;}
	#feed #postInfo p {line-height:120%;}
	#feed #postInfo #postName {padding-top:10px;}
	
	
	#feed #postInfo #tags {padding-top:10px;}
	#feed #omitText { color:#00BE69;}
	#feed #deleteButton { font-size:12px;}
	
	
  </style>

<div id="sidee" class="floatLeft">
  <div id="sidebar">
    <%= image_tag('sidebar_profile.png', :id=>'profile') %>
    <div id="postingInterface">
      <h1>Posting Interface</h1>
      <p>Contribute to the community</p>
      <%= link_to((submit_tag('New Post  +', :class=>'button', :id=>'postButton')), new_post_path)%>
      <%= image_tag('sidebar_notification.png') %>
      <%= image_tag('sidebar_follow.png') %>
    </div>
  </div>
</div>

<div id="feed" class="floatLeft">
<section>
  <h1 class="inline">News Feed</h1>
  <a id="filterStories">Results are Based off of the Stories: Javascript</a>
  <a id="filterTags">Results are Based off of the Tags: Javascript</a>
</section>
    <% @posts.reverse.each do |post| %>

      <div id="post">

      <%= image_tag('default_photo.png', :id=>"photo", :size=>"70x70", :class=>"floatLeft") %>

      <h2><%=link_to  post.title, post, :id=>"postTitle"%></h2>

      <p id="postContent"><%= truncate_content(post, post.content)        
      %></p>
	  
	<section id="postInfo">
      <p id="postName" class="floatLeft clearLeft">Reporter: <a class="blue"><%= post.name %></a></p>

      <p id="tags" class="floatLeft">Tags: <a class="blue"><%= post.tags.to_s %></a></p>

      <p id="source"  class="clearLeft">Source: </p>

      <p id="userLoc" class="floatLeft">Location: <a class="blue"><%= post.user_location %></a></p>

      <p id="postLoc" class="floatLeft">Occuring In: <a class="blue"><%= post.post_location %></a></p>
     </section> 
	 
      
      <%= post.accuracy %>
      <%= post.inaccuracy %>
    
      <%= link_to 'Delete', post, :id=>'deleteButton', :confirm => 'Are you sure?', :method => :delete %>
    </div>

  <% end %>

</div>
