<head>
  <style type="text/css">
    #main { display:inline;}

    #content { float:left; margin-left:0;}
  
    #sidee {width:402px;
      border-bottom: 1px solid #E7E7E7;
      margin-right:30px;
      background-image:url("/images/background_sideBar.png");
      background-repeat:no-repeat;
    }

    #sidebar { margin:10px 50px 0 10%;}
    #sidebar #profile {margin-top:4%;}
    #sidebar #postingInterface h1 {font-size:18px; font-weight:600;}
    #sidebar #postingInterface p {font-size:14px; }
    #sidebar #postingInterface #postButton {margin:2% auto 5% auto;}

    #feed {margin-top:6px; width:750px; }
    #feed h1 {font-size:30px; font-weight:600;}
    #feed #filterText { margin-left:15px; font-size:14px; font-weight:600; vertical-align:20%;}

    #feed #post {padding: 8px; margin-bottom:10px;}
    #feed #post {background-image:url('images/background_post.png');background-repeat:no-repeat;}

    #feed #photo {margin:4px 8px 8px 8px;}
    #feed a {text-decoration:none; color:#000;}
    #feed h2 {height:22px;}
    #feed p { padding-left:8px;}

    #feed #postTitle {font-size:18px; font-weight:600; margin-bottom:0;}

    #feed p {font-size:12px;}
    #feed #postContent {font-size:13px;padding-left:86px; margin-top:0;}
    #feed #omitText {color:#00BE69;}
    #feed #deleteButton {font-size:12px;}
    
  </style>
</head>

<div id="sidee" class="floatLeft">
  <div id="sidebar">
    <%= image_tag('sidebar_profile.png', :id=>'profile') %>
    <div id="postingInterface">
      <h1>Posting Interface</h1>
      <p>Contribute to the community</p>
      <%= link_to((submit_tag('New Post', :class=>'button', :id=>'postButton')), new_post_path)%>
      <%= image_tag('sidebar_notification.png') %>
      <%= image_tag('sidebar_follow.png') %>
    </div>
  </div>
</div>

<div id="feed" class="floatLeft">

  <h1 class="inline">News Feed</h1>
  <a id="filterText">Results are Based off of the Subject(s): Javascript?</a>

    <% #sorter(@post) %>
    <% @posts.each do |post| %>

      <div id="post">

      <%= image_tag('default_photo.png', :id=>"photo", :size=>"70x70", :class=>"floatLeft") %>

      <h2><%=link_to  post.title, post, :id=>"postTitle"%></h2>

      <p id="postContent"><%= truncate_content(post, post.content)        
      %></p>

      <p id="postName" class="floatLeft" style="clear:left;">Author: <%= post.name %></p>

      <p id="tags" class="floatLeft">Tags: <%= post.tags %></p>

      <p id="source"  class="clearLeft">Source: </p>

      <p id="userLoc" class="floatLeft">Location: <%= post.user_location %></p>

      <p id="postLoc" class="floatLeft">Occuring In: <%= post.post_location %></p>
      
      
      <%= post.accuracy %>
      <%= post.inaccuracy %>
    
      <%= link_to 'Delete', post,:id=>'deleteButton', :confirm => 'Are you sure?', :method => :delete %>
    </div>

  <% end %>

</div>
