<div id="footer" class="clearBoth">
	<div id="footerContent">
		<div id="top">
			<table>
				<tr>
					<th>Support</th>
					<th>About</th>
					<th>Updates</th>
				</tr>
				
				<tr>
					<td><%=link_to('Help Center', '/#')%></td>
					<td><%=link_to('About Orchive', '/about')%></td>
					<td><%=link_to('Orchive on Facebook', '/about')%></td>
				</tr>
				
				<tr>
					<td><%=link_to('FAQ', '/#')%></td>
					<td><%=link_to('Terms of Use', '/terms')%></td>
					<td><%=link_to('Orchive on Twitter', '/#')%></td>
				</tr>
				
				<tr>
					<td><%=link_to('Contact Us', '/contact')%></td>
					<td><%=link_to('Privacy Policy', '/privacy')%></td>
					<td><%=link_to('Orchive in the Press', '/#')%></td>
				</tr>
			</table>
			
			<span>
				<h2>SEND AN INVITATION TO A FRIEND<br /></h2>
				<%= text_field_tag('invite', 'Enter recipient\'s email address') %>
				<%= submit_tag('', :id=>'submit') %>
			</span>
		</div>
		
		<div id="bottom">
			<p class="inline">Copyright 2011 &copy Orchive, All Rights Reserved</p>
				<p class="inline floatRight">t:16095555555 e:info@orchive.com</p>
			
			<div id="google_translate_element"></div>
			<script>
				function googleTranslateElementInit() {
					new google.translate.TranslateElement({
						pageLanguage: 'en'}, 'google_translate_element');
				}
		</script>
		<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


		
		</div>
			
	
	
	
	
		
  
	</div>
</div>