<div id="header">
<div id="headerContent">

<div id="topBar"> 
  <%= link_to(image_tag('logo.png', :alt=>'Orchive', :id=>'logo'), '/posts') %>
  
  <span id="headPages" class="floatRight">
    <p>
      <%= link_to 'Home', '/posts' %>
      <%= link_to 'About', '/about' %>
      <%= link_to 'Contact', '/contact' %>
      <%= link_to 'Command', '/command' %>
			<% if current_user.admin?%>
				<%= link_to 'Dashboard', '/dashboard'%>
			<%end%>
    </p>
  </span>
	<p class="floatRight">Welcome, <%= link_to(current_user.name, user_path(current_user)) %></a> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>

<div id="navBar">
  <%= text_field_tag('searchField', 'Start a search', :class => "floatLeft") %>
  
  <span id="newsFeed" class="floatLeft">
    <%= link_to 'World Map', '/future' %> | 
    <%= link_to 'News Feed', posts_path %>
  </span>

  <span id="storiesDiv" class="floatLeft" >
	<div id="upStories">
	  <a href="#topStories" id="topStories">Top Stories</a>
	  <a href="#followStories">Stalker Stories</a>
	</div>
	
	<div id="downStories">
	  <a href="#localStories"id="localStories">Local Stories</a>
	  <a href="#recentStories" >Recent Stories</a>
	</div>
  </span>
  
  <span id="filtersDiv">
    <div id="upFilters">
      <a href="#politics">Politics</a>
	  <a href="#business">Business</a>
      <a href="#nature">Nature</a>
      <a href="#sports">Sports</a>
      <a href="#science">Science</a>
    </div>
  
    <div id="downFilters">
      <a href="#crime">Crime</a>
	  <a href="#tech">Technology</a>
      <a href="#social">Social</a>
      <a href="#entertainment">Entertainment</a>
      <a href="#other">Other</a>
    </div>
  </span>
  
  </div>
  </div>
</div>
