<header>
		<%=link_to(image_tag('logo.png', :alt=>'Orchive'), '/') %>
		<span class="floatRight">
			<%= link_to('Home', '/') %>
			<%= link_to('About', '#') %>
			<%= link_to('Beta', '/login') %>
			<%= link_to('Join', '/join') %>
		</span>
</header>