<div id="header">
<div id="headerContent">

<div id="topBar"> 
  <%= link_to(image_tag('logo.png', :alt=>'Orchive', :id=>'logo'), '/') %>
  
  <span id="headPages" class="floatRight">
    <p>
      <%= link_to 'Home', '/' %>

      <%= link_to 'About', '/about' %>

      <%= link_to 'Contact', '/contact' %>

      <%= link_to 'Help', '/future' %>
    </p>
  </span>
</div>

<div id="navBar">
  
  <%= text_field_tag('searchField', 'Start a search', :size => 61, :class => "floatLeft")%>
  
  <span id="worldMapNewsFeed" class="floatLeft">
    <%= link_to 'World Map', '/future' %> | 
    <%= link_to 'News Feed', posts_path %>
  </span>


  <div id="linksDiv">
    <div id="topLinks">
      <a class="secondSet" href="#politics">Politics</a>
      <a class="secondSet" href="#living">Living</a>
      <a class="secondSet" href="#society">Society</a>
      <a class="secondSet" href="#finance">Finance</a>
      <a class="secondSet" href="#technology">Technology</a>
      <a class="secondSet" href="#weather">Weather</a>
    </div>
  
    <div id="botLinks">
      <a class="secondSet" href="#environmental">Environmental</a>
      <a class="secondSet" href="#education">Education</a>
      <a class="secondSet" href="#entertainment">Entertainment</a>
      <a class="secondSet" href="#justice">Justice</a>
      <a class="secondSet" href="#sports">Sports</a>
    </div>
  </div>
  </div>
  </div>
</div>
