<div id="sidee" class="floatLeft">
  <div id="sidebar">
    <h1><%= link_to "Your Profile", user_path(@user) %></h1>
    <h3><%= image_tag(gravatar_url) %> Welcome, <%= @user.name %>!</h3>
    <%= link_to "Edit Profile", '/edit' %>
    
    <%= image_tag('sidebar_profile.png', :id=>'profile') %>
    <div id="postingInterface">
      <h1>Posting Interface</h1>
      <p>Contribute to the community</p>
      <%= link_to((submit_tag('New Post  +', :class=>'button', :id=>'postButton')), new_post_path)%>
      <%= image_tag('sidebar_notification.png') %>
      <%= image_tag('sidebar_follow.png') %>
    </div>
  </div>
</div>

