<div id="sidee" class="floatLeft">
  <div id="sidebar">
    <h2><%= link_to "Your Profile", user_path(@user) %></h2>
   Welcome, <%= @user.name %>!
    <%= link_to "Edit Profile", '/edit' %>
    <%= link_to image_tag(@user.gravatar_url), user_path(@user) %> <br>
    Favorite Tags: <br>
    Location: <br>
    
    <%= #image_tag('sidebar_profile.png', :id=>'profile') %>
    
    <div id="postingInterface">
      <h1>Posting Interface</h1>
      <p>Contribute to the community</p>
      <%= link_to((submit_tag('New Post  +', :class=>'button', :id=>'postButton')), new_post_path)%>
      <%= image_tag('sidebar_notification.png') %>
      <%= image_tag('sidebar_follow.png') %>
    </div>
  </div>
</div>

